---
http_interactions:
- request:
    method: post
    uri: https://cortex.twentybn.com/v1/custom_tag_image
    body:
      encoding: UTF-8
      string: '{"content":"iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEX/TQBcNTh/AAAAAXRSTlPM0jRW/QAAAApJREFUeJxjYgAAAAYAAzY3fKgAAAAASUVORK5CYII=","modelId":"9b80ddb9-2d02-436f-86ba-f9a3e679de7a"}'
    headers:
      Content-Type:
      - application/json
      X-Apikey:
      - YOUR_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"13d9f04b79cb19a4ca081d3b6629d54a"
    body:
      encoding: UTF-8
      string: "{\n  \"result\": {\n    \"scores\": [\n      0.6947551130672773, \n
        \     0.3052448869327226\n    ], \n    \"tags\": [\n      \"cat\", \n      \"dog\"\n
        \   ]\n  }\n}\n"
  recorded_at: Thu, 27 Oct 2016 15:46:43 GMT
recorded_with: VCR 3.0.3
